.yith-wapo-block {
  .yith-wapo-addon {
    .wapo-addon-title {
      font-family: Eina03;
      font-size: 12px;
      font-weight: 700;
      display: block;
      margin: 0 0 5px;
    }
    select#yith-wapo-48 {
      min-width: 100%;
    }
  }
}
#yith-wapo-container {
  margin-bottom: 2rem;
  width: 100%;
}
