:root {
  --bodyBackgroundColor: white;
  --fontPrimary: "proxima-nova",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  --fontSecondary: "chaparral-pro",
    "Courier New",
    Courier,
    monospace;
  --linkSmall: .8125rem;
  --pSmall: .85rem;
  --productCardTitleWeight: 400;
  --productCardTitleFontFamily: var(--fontSecondary);
  --productCardTitleFontSize: var(--linkSmall);
}

.order__summary__row.desc_coupon {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 0.85rem;
  border: 1px solid;
  font-weight: 600;
  border-left-width: 4px;
}

#couponBox {
  max-width: 550px;
}
#couponBox form.woocommerce-form-coupon {
  max-width: 100%;
  width: 100%;
}
#couponBox form.woocommerce-form-coupon .input-row {
  width: 100%;
}
@media screen and (min-width: 768px) {
  #couponBox form.woocommerce-form-coupon .input-row .form-row {
    padding: 0;
  }
  #couponBox form.woocommerce-form-coupon .input-row .form-row:first-child {
    flex: 1;
  }
  #couponBox form.woocommerce-form-coupon .input-row .form-row:last-child {
    width: auto;
  }
  #couponBox form.woocommerce-form-coupon .input-row .form-row:last-child button[type=submit] {
    margin-right: 0;
  }
}

.woocommerce-form-coupon-toggle {
  order: 0;
}

form.woocommerce-form-coupon p:not(.form-row) {
  margin-bottom: 1rem;
  font-size: 0.85rem;
  text-align: left;
}
form.woocommerce-form-coupon .input-row .form-row input,
form.woocommerce-form-coupon .input-row .form-row button {
  height: 52px;
}

.coupon_below_total .woocommerce-info.woo-notice-box {
  padding: 0.85rem 2rem;
}
@media screen and (min-width: 768px) {
  .coupon_below_total .woocommerce-info.woo-notice-box {
    text-align: left;
  }
}

/**Additional Fields in checkoutpage**/
.did_you_find {
  margin-bottom: 2rem;
}
.did_you_find h3 {
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
.did_you_find .form-row {
  float: none;
}

.cart-collaterals .cross-sells h2 {
  font-family: "chaparral-pro", "Courier New", Courier, monospace;
  font-weight: normal;
  text-transform: initial;
  letter-spacing: 0;
}

select.gift_wrap_options {
  margin: 1rem 0;
  max-width: 100%;
  padding: 10px;
}
@media screen and (min-width: 480px) {
  select.gift_wrap_options {
    max-width: 240px;
  }
}

.woocommerce-cart-form + .giftbox {
  margin-top: 2rem;
}

#checkout .giftbox {
  margin-top: 1rem;
}

.giftbox_pop {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .giftbox_pop {
    justify-content: center;
  }
}
.giftbox_pop_title {
  font-size: 1.25rem;
  font-family: "chaparral-pro", "Courier New", Courier, monospace;
  font-weight: normal;
}
.giftbox_pop_img {
  max-width: 320px;
}
.giftbox_pop_content {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .giftbox_pop_content {
    padding-top: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .giftbox_pop_img {
    width: 35%;
    max-width: 35%;
  }
  .giftbox_pop_content {
    padding-left: 2rem;
    text-align: left;
    flex: 1;
  }
}

@media screen and (max-width: 767px) {
  #gift_wrapper .modal_body {
    padding-top: 3rem;
  }
}
#gift_wrapper .remodal-close {
  top: 1rem;
  right: 1rem;
}
@media screen and (max-width: 767px) {
  #gift_wrapper .remodal-close {
    top: 0.5rem;
    right: 0.5rem;
  }
}
#gift_wrapper .remodal-close:before {
  font-size: 2rem;
}

.fgf_gift_products_wrapper > h3 {
  letter-spacing: 0.05em;
  padding-bottom: 4px;
  border-bottom: 1px solid;
}
.fgf_gift_products_wrapper .fgf_rule_description {
  padding: 10px;
  font-size: 0.85rem;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  border-radius: 6px;
}

.woocommerce-cart-form .fgf_gift_products_wrapper {
  margin-top: 2rem;
}
.woocommerce-cart-form .fgf_gift_products_wrapper > h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.woocommerce-cart-form .fgf_gift_products_wrapper .fgf_rule_description {
  margin-bottom: 1rem;
}

#lightcase-case #lightcase-content {
  text-shadow: none;
}

#lightcase-content .lightcase-inlineWrap {
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  #lightcase-content .lightcase-inlineWrap {
    min-width: 380px;
  }
}
#lightcase-content .fgf_gift_products_wrapper .fgf_gift_products_table {
  padding-top: 24px;
}
#lightcase-content .fgf_gift_products_wrapper > h3 {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}
#lightcase-content .fgf_gift_products_wrapper .fgf_rule_description {
  margin-bottom: 0.5rem;
  padding: 5px 10px;
  font-size: 0.75rem;
}
#lightcase-content .fgf_gift_products_wrapper .freegift__thum {
  width: 90px;
}
#lightcase-content .fgf_gift_products_wrapper .freegift_info {
  flex: 1;
  padding-left: 1rem;
}
#lightcase-content .fgf_gift_products_wrapper .freegift_name {
  margin-bottom: 1rem;
}

.woocommerce-notices-wrapper .woocommerce-message.woo-notice-box {
  margin-bottom: 24px;
  padding: 10px;
  font-size: 0.95rem;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  border-width: 1px;
  border-style: solid;
  justify-content: flex-start;
}
@media screen and (max-width: 767px) {
  .woocommerce-notices-wrapper .woocommerce-message.woo-notice-box {
    display: block;
  }
}
.woocommerce-notices-wrapper .woocommerce-message.woo-notice-box a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}

#order_comments_field .label-help_text {
  font-size: 0.75rem;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

label.checkbox.woocommerce-form__label[data-automation-id=woo-commerce-subscription-opt-in] {
  position: relative;
  padding-left: 24px;
  display: inline-block;
}

label.checkbox.woocommerce-form__label[data-automation-id=woo-commerce-subscription-opt-in] > .optional {
  padding: 0;
}

label.checkbox.woocommerce-form__label[data-automation-id=woo-commerce-subscription-opt-in]:before {
  content: "";
  width: 12px;
  height: 12px;
  background: none;
  border: 1px solid #000;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

label.checkbox.woocommerce-form__label[data-automation-id=woo-commerce-subscription-opt-in]:after {
  position: absolute;
  content: "";
  transition: all 0.2s ease;
  margin-top: -4px;
  top: 50%;
  left: 0;
  width: 6px;
  height: 10px;
  transform: scale(0) rotate(45deg) translateY(-50%);
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  border-top: 0;
  border-left: 0;
}

label.checkbox.woocommerce-form__label.checked[data-automation-id=woo-commerce-subscription-opt-in]:after {
  transform: scale(1) rotate(45deg) translateY(-50%);
}/*# sourceMappingURL=checkout.css.map */