@charset "UTF-8";
:root {
  --bodyBackgroundColor: white;
  --fontPrimary: "proxima-nova",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  --fontSecondary: "chaparral-pro",
    "Courier New",
    Courier,
    monospace;
  --linkSmall: .8125rem;
  --pSmall: .85rem;
  --productCardTitleWeight: 400;
  --productCardTitleFontFamily: var(--fontSecondary);
  --productCardTitleFontSize: var(--linkSmall);
}

@media screen and (min-width: 575px) {
  .sm_align_right {
    text-align: right;
  }
  .sm_align_left {
    text-align: left;
  }
  .sm_align_center {
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .show__xs {
    display: none !important;
  }
}
@media screen and (max-width: 479px) {
  .hide__xs {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .flex_sm {
    display: flex;
  }
  .flex_sm.row_btns {
    margin-left: -5px;
    margin-right: -5px;
  }
  .flex_sm.row_btns > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.p_xxs {
  font-size: 0.65rem;
}

.ja {
  font-family: var(--fontBody);
}

.page strong {
  font-family: inherit;
}

.upper {
  text-transform: uppercase;
}

.fw_300 {
  font-weight: 300;
}
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_600 {
  font-weight: 600;
}
.fw_700 {
  font-weight: 700;
}

.mgb_05 {
  margin-bottom: 0.5rem;
}
.mgb_075 {
  margin-bottom: 0.75rem;
}
.mgb_1 {
  margin-bottom: 1rem;
}
.mgb_15 {
  margin-bottom: 1.5rem;
}
.mgb_2 {
  margin-bottom: 2rem;
}

.mgt_05 {
  margin-top: 0.5rem;
}
.mgt_075 {
  margin-top: 0.75rem;
}
.mgt_1 {
  margin-top: 1rem;
}
.mgt_15 {
  margin-top: 1.5rem;
}
.mgt_2 {
  margin-top: 2rem;
}

.underline {
  text-decoration: underline !important;
}

.underlined {
  border-bottom: 1px solid;
  padding-bottom: 8px;
}

ol.num_alpha {
  list-style: lower-roman;
}
ol.num_basic li + li {
  margin-top: 1rem;
}
ol.num_maru {
  margin: 0;
  padding-left: 0;
  counter-reset: my-counter;
  list-style: none;
}
ol.num_maru li {
  list-style: none;
  padding-left: 24px;
  position: relative;
  line-height: 16px;
}
ol.num_maru li:before {
  content: counter(my-counter);
  counter-increment: my-counter;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  font-size: 85%;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
}
ol.num_maru li + li {
  margin-top: 8px;
}
ol li .top_space {
  margin-top: 0.5rem;
  display: block;
}
ol > li > ol {
  padding-top: 10px;
}
ol > li > ol.child {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.p_thin {
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  line-height: 1.65;
  font-weight: 300;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.sec_mgt {
  margin-top: 6rem;
}
@media screen and (max-width: 479px) {
  .sec_mgt {
    margin-bottom: 4rem;
  }
}

.form-row .selectric-wrapper {
  position: relative;
}
.form-row .selectric-wrapper:before {
  content: "\ea0c";
  font-family: var(--iconOec);
  font-weight: normal;
  border: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.form-row .selectric-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  float: none;
}

.selected_lbl + .selected_value {
  padding-left: 5px;
  font-weight: 600;
  font-size: 115%;
}

.p_ttl__underlined {
  line-height: 1.45;
  border-bottom: 1px solid #eee;
  padding-bottom: 6px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

ul.tip_notion {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.tip_notion li {
  font-size: 0.75rem;
  line-height: 1.45;
  padding-left: 1rem;
  position: relative;
}
ul.tip_notion li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  content: "";
  background: #b7b8ba;
  transform: rotate(45deg) translateY(-50%);
}
ul.tip_notion li + li {
  margin-top: 6px;
}

/*Page Header*/
.phd_layout_01 .page-header {
  border-bottom: none;
}
.phd_layout_01 .page-header #theme-page-title {
  padding: 40px 0;
}
.phd_layout_01 .page-header #theme-page-title .page-title {
  display: inline-block;
  font-size: 2.75rem;
  letter-spacing: -0.015em;
  font-family: var(--fontSecondary);
  font-weight: 500;
  text-transform: initial;
}
@media screen and (max-width: 576px) {
  .phd_layout_01 .page-header #theme-page-title .page-title {
    font-size: 2.15rem;
  }
}
.phd_layout_01 .page-header #theme-page-title .page-title em {
  font-style: normal;
  font-size: 50%;
  display: block;
  font-family: var(--fontPrimary);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.phd_layout_01 .page-header #theme-page-title .page-title + .page-subtitle {
  margin-top: 1rem;
  letter-spacing: 0.15em;
}
@media screen and (max-width: 576px) {
  .phd_layout_01 .page-header #theme-page-title .page-title + .page-subtitle {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 767px) {
  body:not(.home) #main.page-short_content {
    padding-top: 4rem;
  }
}
.container_box {
  margin-left: auto;
  margin-right: auto;
}
.container_box__mid {
  max-width: 820px;
}

ul.ul_notion {
  margin: 0;
  list-style: none;
  padding: 0;
}
ul.ul_notion li {
  list-style: none;
  display: flex;
  align-items: center;
  line-height: 1.45;
}
ul.ul_notion li + li {
  margin-top: 8px;
}
ul.ul_notion li:before {
  padding-right: 6px;
  content: "\f06a";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.checkbox__simple,
.woocommerce .checkbox__simple {
  display: flex;
  align-items: center;
}
.checkbox__simple input[type=checkbox] + span,
.woocommerce .checkbox__simple input[type=checkbox] + span {
  padding-left: 24px;
  display: inline-block;
  position: relative;
  font-size: inherit;
  font-weight: normal;
}
.checkbox__simple input[type=checkbox] + span:before,
.woocommerce .checkbox__simple input[type=checkbox] + span:before {
  content: "" !important;
  width: 16px;
  height: 16px;
  background: none;
  border: 1px solid #000;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.checkbox__simple input[type=checkbox] + span:after,
.woocommerce .checkbox__simple input[type=checkbox] + span:after {
  position: absolute;
  content: "";
  transition: all 0.2s ease;
  margin-top: -4px;
  top: 50%;
  left: 0;
  width: 6px;
  height: 10px;
  transform: scale(0) rotate(45deg) translateY(-50%);
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  border-top: 0;
  border-left: 0;
}
.checkbox__simple input[type=checkbox]:checked + span:after,
.woocommerce .checkbox__simple input[type=checkbox]:checked + span:after {
  transform: scale(1) rotate(45deg) translateY(-50%);
}

.swatch__list {
  display: flex;
  margin: 0 -10px;
}
.swatch__list > div {
  padding-left: 10px;
  padding-right: 10px;
}
.swatch__radio {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: inline-block;
  padding: 7px 10px;
  position: relative;
}
.swatch__radio.checked {
  border-bottom-color: #000;
}
.swatch__radio-text {
  font-family: var(--fontPrimary);
  line-height: 1;
}
.swatch__radio input[type=checkbox] {
  display: block !important;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.image-checkbox {
  border: 4px solid transparent;
  outline: 0;
}
.image-checkbox input[type=checkbox] {
  display: none;
}
.image-checkbox input[type=checkbox] + .icon_check {
  width: 18px;
}
.image-checkbox input[type=checkbox] + .icon_check:before, .image-checkbox input[type=checkbox] + .icon_check:after {
  content: none !important;
}
.image-checkbox input[type=checkbox] + .icon_check > span {
  width: 100%;
  padding-top: 100%;
  display: block;
  position: relative;
}
.image-checkbox input[type=checkbox] + .icon_check > span:before, .image-checkbox input[type=checkbox] + .icon_check > span:after {
  position: absolute;
  content: "";
}
.image-checkbox input[type=checkbox] + .icon_check > span:before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid;
}
.image-checkbox input[type=checkbox] + .icon_check > span:after {
  transition: all 0.2s ease;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -1px;
  width: 6px;
  height: 10px;
  transform: scale(0) rotate(45deg) translate(-50%, -50%);
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  border-top: 0;
  border-left: 0;
}
.image-checkbox input[type=checkbox]:checked + .icon_check {
  position: relative;
  width: 18px;
  display: block;
}
.image-checkbox input[type=checkbox]:checked + .icon_check > span:after {
  transform: scale(1) rotate(45deg) translate(-50%, -50%);
}
.image-checkbox-checked {
  border-color: #4783b0;
}

.grids__card {
  display: flex;
  flex-wrap: wrap;
}
.grids__card > div {
  width: 50%;
}
@media screen and (min-width: 768px) {
  .grids__card > div {
    width: 33.333%;
  }
}
@media screen and (min-width: 1202px) {
  .grids__card > div {
    width: 25%;
  }
}

.card__style {
  --background: #fff;
  --background-checkbox: #000;
  --text-color: #666;
  --text-headline: #000;
  --card-shadow: #000;
  --card-radius: 8px;
  --blend-mode: overlay;
  --transition: 0.15s;
}
.card__style > div {
  margin: 0.25rem;
  background: var(--background);
  border-radius: var(--card-radius);
  overflow: hidden;
  box-shadow: var(--shadow, 2px 6px 6px 0px rgba(0, 0, 0, 0.05));
  transition: transform var(--transition), box-shadow var(--transition);
  transform: scale(var(--scale, 1)) translateZ(0);
}
.card__style > div.image-checkbox {
  border: none;
  cursor: pointer;
}
.card__style > div.image-checkbox input[type=checkbox] + .icon_check {
  left: 0.5rem;
  top: 0.5rem;
  position: absolute;
}
.card__style > div.image-checkbox input[type=checkbox] + .icon_check > span:before {
  border: solid 2px #e3e3e3;
  border-radius: 100%;
}
.card__style > div.image-checkbox-checked {
  --shadow: 0 0 0 1px var(--card-shadow);
}
.card__style > div.image-checkbox-checked input[type=checkbox] + .icon_check > span:before {
  border-color: var(--background-checkbox);
  background: var(--background-checkbox);
}
.card__style > div.image-checkbox-checked input[type=checkbox] + .icon_check > span:after {
  border-color: #fff;
}
.card__style > div:hover {
  box-shadow: var(--shadow, 2px 6px 6px 0px rgba(0, 0, 0, 0.15));
}
.card__body-img {
  padding-top: 133%;
  width: 100%;
  position: relative;
}
.card__body-img .img-responsive {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "object-fit: cover;";
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  transform: scale(0.8) translateY(-6%);
}
.card__body-header {
  padding: 0.65rem 0.5rem;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
}
.card__body-header-title {
  font-size: 0.75rem;
  line-height: 1.35;
  font-family: var(--fontSecondary);
  font-weight: 400;
}
.card__radius {
  border-radius: 6rem;
  background: var(--background);
  box-shadow: var(--shadow, 2px 6px 6px 0px rgba(0, 0, 0, 0.05));
  border: 1px solid #efefef;
  overflow: hidden;
}
.card__radius .row {
  margin-left: -6px !important;
  margin-right: -6px !important;
}
.card__radius .row > div {
  padding: 0 6px !important;
}
.card__radius .row > div:first-child .desc {
  padding: 1rem 1.5rem;
}
.card__radius .row > div:not(:first-child) .desc {
  padding-right: 1.5rem;
}
.card__radius .col-thum {
  width: 110px;
}
.card__radius .desc .p_title {
  margin-bottom: 0.25rem;
}
.card__radius_small {
  border-radius: 1rem;
}
.card__radius_none {
  border-radius: 0;
}

.after-cart-content .p_title {
  line-height: 1.35;
}
.after-cart-content .p_title + p {
  line-height: 1.35;
  font-size: 0.7rem;
}

.img_crop {
  width: 100%;
  padding-top: 100%;
  display: block;
  position: relative;
}
.img_crop img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.acc_title {
  padding: 1rem 0;
  border-top: 1px solid #efefef;
}

.summary .acc_title {
  font-family: var(--fontThird);
  font-weight: 400;
  font-size: 0.85rem;
}

.remodal.remodal_hbody {
  font-size: 0.8rem;
  line-height: 1.65;
  max-height: 100vh;
  margin-bottom: 0;
}
.remodal.remodal_hbody > .remodal_wraper {
  max-height: 100vh;
  overflow: auto;
}
.remodal.remodal_hbody .page_block__content {
  text-align: left;
}
.remodal.remodal_hbody .page_block__content h4 {
  margin-bottom: 4px;
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.45;
}
.remodal.remodal_hbody .page_block__content .text {
  text-align: left;
}
.remodal.remodal_hbody .page_block__content + .page_block__content {
  margin-top: 1.5rem;
}

.type-page .page_block__content + .page_block__content {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #efefef;
}
.type-page .page_block__content h4 {
  font-weight: 400;
  font-size: 1rem;
  color: #0a0a0a;
  line-height: 1.65;
}
.type-page .page_block__content .text {
  padding: 10px;
  font-size: 0.85rem;
  line-height: 1.8;
}

@media screen and (max-width: 767px) {
  .row_btns .row_btn {
    text-align: center;
  }
  .row_btns .row_btn .link_img {
    display: inline-block;
    max-width: 180px;
    vertical-align: bottom;
  }
  .row_btns .row_btn + .row_btn {
    margin-top: 5px;
  }
}

body.page .page-content .elementor-tab-content div:not(.slick-slide):not(.row_btn) + p,
body.page .page-content .elementor-tab-content div:not(.slick-slide):not(.row_btn) + div {
  margin-top: 12px;
}
body.page .page-content .elementor-tab-content p:last-child {
  margin-bottom: 0;
}
body.page .page-content .elementor-widget-icon-list.basic__icon_list .elementor-icon-list-items {
  margin-top: 1rem;
}
body.page .page-content .elementor-widget-icon-list.basic__icon_list .elementor-icon-list-items .elementor-icon-list-item {
  font-size: 0.85rem;
  line-height: 1.45;
  display: flex;
  align-items: center;
}
body.page .page-content .elementor-widget-icon-list.basic__icon_list .elementor-icon-list-items .elementor-icon-list-item + .elementor-icon-list-item {
  margin-top: 8px;
}
body.page .page-content .elementor-widget-icon-list.basic__icon_list.fs_small .elementor-icon-list-item {
  font-size: 0.75rem;
}
body.page .page-content .ja__ttl .elementor-heading-title {
  font-family: var(--fontBody);
  font-size: 0.85rem;
}
body.page .page-content .elementor-widget-tabs .elementor-tabs-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
}
body.page .page-content .elementor-widget-tabs .elementor-tabs-wrapper:before {
  content: "";
  border-bottom: 1px solid;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  opacity: 0.15;
}
body.page .page-content .elementor-widget-tabs .elementor-tabs-wrapper .elementor-tab-title {
  padding: 0 1rem 1rem;
}
@media screen and (max-width: 479px) {
  body.page .page-content .elementor-widget-tabs .elementor-tabs-wrapper .elementor-tab-title {
    padding: 0 6px 12px;
    text-align: center;
    width: 50%;
  }
}
body.page .page-content .elementor-widget-tabs .elementor-tabs-wrapper .elementor-tab-title a {
  color: #868786;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 479px) {
  body.page .page-content .elementor-widget-tabs .elementor-tabs-wrapper .elementor-tab-title a {
    font-size: 0.75rem;
  }
}
body.page .page-content .elementor-widget-tabs .elementor-tabs-wrapper .elementor-tab-title.elementor-active {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
body.page .page-content .elementor-widget-tabs .elementor-tabs-wrapper .elementor-tab-title.elementor-active a {
  color: #000;
}
body.page .page-content .elementor-widget-tabs .elementor-tabs-wrapper .elementor-tab-title.elementor-active:before {
  content: none;
}
body.page .page-content .elementor-widget-tabs .elementor-tabs-wrapper .elementor-tab-title.elementor-active:after {
  left: 0;
  width: 100%;
  border-color: #000;
}
body.page .page-content .elementor-widget-tabs .elementor-tabs-wrapper + .elementor-tabs-content-wrapper {
  border: none;
}
body.page .page-content .elementor-widget-tabs .elementor-tabs-wrapper + .elementor-tabs-content-wrapper .elementor-tab-mobile-title {
  display: none;
}
body.page .page-content .elementor-widget-tabs .elementor-tabs-wrapper + .elementor-tabs-content-wrapper .elementor-tab-content {
  padding: 2rem 0;
  line-height: 1.65;
  font-size: 0.9rem;
  border: none;
}
body.page .page-content .grids_row .elementor-heading-title {
  font-size: 1rem;
  line-height: 1.45;
  font-family: var(--fontSecondary);
  font-weight: 400;
}
body.page .page-content .grids_row .desc {
  margin-top: 0.75rem;
  font-size: 0.75rem;
}
body.page .page-content .grids_row .desc p {
  font-size: 0.75rem;
  line-height: 1.45;
  font-weight: 300;
}
body.page .page-content .p_desc p {
  font-weight: 300;
  font-size: 0.85rem;
}
body.page .page-content .p_desc p strong {
  font-weight: 500;
  font-family: inherit;
}
body.page .page-content .ttl_sec {
  font-size: 1.65rem;
}
body.page .page-content .ttl_sec.ttl_style01 {
  margin-bottom: 1rem;
}
body.page .page-content .ttl_sec.ttl_mgb {
  margin-bottom: 2rem;
}
body.page .page-content .ttl_sec .elementor-heading-title {
  line-height: 1.45;
  font-family: var(--fontSecondary);
  font-weight: 400;
  display: inline-block;
}
body.page .page-content .ttl_sec .elementor-heading-title > span {
  display: inline-block;
}
body.page .page-content .ttl_sec .elementor-heading-title em {
  font-style: normal;
  line-height: 1;
  display: block;
  font-family: var(--fontPrimary);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.9rem;
}
body.page .page-content .ttl_sec .elementor-heading-title em + span {
  line-height: 1;
}
body.page .page-content .ttl_sec.has_sttl .elementor-heading-title {
  line-height: 1.15;
}

.form-row .checkbox {
  font-size: 13px;
}

div#mailpoet_woocommerce_checkout_optin_field {
  float: none;
}
div#mailpoet_woocommerce_checkout_optin_field label.checkbox {
  position: relative;
  padding-left: 24px;
}
div#mailpoet_woocommerce_checkout_optin_field label.checkbox:before {
  content: "";
  width: 12px;
  height: 12px;
  background: none;
  border: 1px solid #000;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
div#mailpoet_woocommerce_checkout_optin_field label.checkbox:after {
  position: absolute;
  content: "";
  transition: all 0.2s ease;
  margin-top: -4px;
  top: 50%;
  left: 0;
  width: 6px;
  height: 10px;
  transform: scale(0) rotate(45deg) translateY(-50%);
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  border-top: 0;
  border-left: 0;
}
div#mailpoet_woocommerce_checkout_optin_field label.checkbox.checked:after {
  transform: scale(1) rotate(45deg) translateY(-50%);
}

.woocommerce input[type=checkbox] + span.optional {
  display: inline-block;
}
.woocommerce input[type=checkbox] + span.optional:before, .woocommerce input[type=checkbox] + span.optional:after {
  content: none !important;
}
.woocommerce input[type=checkbox]:checked + span.optional:before, .woocommerce input[type=checkbox]:checked + span.optional:after {
  content: none !important;
}

.woocommerce-notice-wrapper .woo-notice-box li {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 479px) {
  .woocommerce-notice-wrapper .woo-notice-box li {
    font-size: 0.75rem;
  }
}
.woocommerce-notice-wrapper .woo-notice-box li:before {
  margin-right: 8px;
  content: "\f071";
  /* Better Font Rendering */
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.woocommerce-notice-wrapper .woo-notice-box li + li {
  margin-top: 8px;
}

.instruction_container {
  padding: 1rem 0 0;
  border: 1px solid;
}
.instruction_container.no_border {
  border: none;
}
.instruction_container .ttl_wrap {
  text-align: center;
  position: relative;
  z-index: 1;
}
.instruction_container .ttl_wrap:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  opacity: 0;
}
.instruction_container .ttl_wrap .ttl_inner {
  padding: 0 12px;
  display: inline-block;
  background: #fff;
}
.instruction_container .ttl_wrap .ttl,
.instruction_container .ttl_wrap .subttl {
  line-height: 1.45;
}
.instruction_container .ttl_wrap .ttl {
  font-size: 1.45rem;
  font-family: var(--fontSecondary);
  font-weight: 400;
}
.instruction_container .ttl_wrap .subttl {
  margin-top: 2px;
  font-size: 0.75rem;
}
.instruction_container .ttl_wrap .subttl_ja {
  font-family: var(--fontBody);
  font-weight: 300;
  letter-spacing: 0.05em;
}
.instruction_container .slick-slider .slick-dots {
  text-align: center;
}
.instruction_container .grid {
  padding: 0 2rem;
}
.instruction_container .grid p:not(.p_en) {
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  line-height: 1.65;
  font-weight: 300;
}
.instruction_container .grid p:not(.p_en) * {
  font-family: var(--fontBody);
}
.instruction_container .grid p:not(.p_en) strong {
  font-weight: 700;
}
.instruction_container .grid p.p_en {
  font-family: var(--fontLocal);
  font-weight: 400;
  font-size: 1.05rem;
  text-align: center;
}
.instruction_container_thanks .grid {
  padding: 0 2rem;
}
.instruction_container_thanks .grid p:not(.p_en) {
  font-size: 0.75rem;
  font-weight: 400;
}
.instruction_container_thanks .grid p.p_en {
  font-size: 0.9rem;
  letter-spacing: 0.1em;
}
.instruction_container .inst_head {
  margin-bottom: 1rem;
}
.instruction_container .inst_body {
  padding-bottom: 1rem;
}
.instruction_container .inst_foot:not(.no_border) {
  border-top: 1px solid;
}
.instruction_container .inst_foot:not(.no_innerpad) .inner {
  padding: 1rem 2rem 1.5rem;
}
.instruction_container .inst_foot.no_innerpad .inner + .inner {
  margin-top: 1.25rem;
}
.instruction_container .inst_foot p {
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}
.instruction_container .inst_foot p.p_ttl {
  font-weight: 600;
}
.instruction_container .inst_foot .ul_notion li {
  font-size: 0.75rem;
}

.elementor-element .instruction_container .inst_foot {
  border-top-color: #eee;
  padding-top: 2rem;
}
.elementor-element .instruction_container .inst_foot .inner {
  padding: 0 1.5rem;
}
.elementor-element .instruction_container .inst_foot .inner + .inner {
  margin-top: 1.5rem;
}

.product-details * + .instruction_container {
  margin-top: 1.5rem;
  padding-top: 0;
}
.product-details .acc-item .instruction_container .p_ttl + * {
  margin-top: 0.65rem;
}

.grids_style01 .col_thum {
  width: 25%;
  max-width: 120px;
}
.grids_style01 .col_desc {
  flex: 1;
  padding-left: 1rem;
}
.grids_style02.responsive-slick {
  padding: 0 1rem 1.5rem;
}
.grids_style02.responsive-slick ul.slick-dots {
  display: block !important;
  text-align: center;
  bottom: 0;
}
.grids_style02 .grid {
  padding: 0 1rem;
}
.grids_style02 .grid .col_desc {
  margin-top: 1rem;
}
.grids_style02 .grid .col_desc p {
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  line-height: 1.65;
  font-weight: 300;
}

.notice_product {
  font-size: 0.75rem;
  line-height: 1.65;
}

.link_cp + .notice_product {
  margin-top: 2rem;
}

.woocommerce .variations .iconic_colors_extrafee {
  margin-bottom: 20px;
}
.woocommerce .variations .iconic_colors_extrafee .iconic-was-swatch__container:before {
  content: "別注";
  position: absolute;
  font-size: 0.65rem;
  width: calc(100% + 6px);
  left: -3px;
  bottom: -24px;
  border: 1px solid;
  line-height: 1;
  padding: 1px 3px;
  border-radius: 6px;
}

.wrap__btn {
  margin-top: 3rem;
}
.wrap__btn .elementor-text-editor {
  display: flex;
}
.wrap__btn .btn.icon-btn {
  font-size: 0.85rem;
  padding: 0 1.65rem;
  min-width: 260px;
  max-width: 100%;
  height: 56px;
  line-height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap__btn .btn.icon-btn.icon-btn__goto:after {
  font: normal normal normal 200%/1 var(--iconOec);
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\ea3e";
}

#reservationFormCustomer .form-row input + p {
  font-size: 0.65rem;
  margin-top: 6px;
  line-height: 1.45;
}
#reservationFormCustomer .form-row input + p a {
  text-decoration: underline;
  font-weight: bold;
}

.cart .row_option {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cart .row_option .form-row {
  float: none;
}

.form-row .password-input {
  display: block;
}
.form-row .password-input input {
  float: none;
}

.page .c-btn-cat strong {
  font-family: var(--fontAlt);
}

#news_top_modal .blog-article-sum .blog-title {
  line-height: 1.45;
}

.custom_option__container .cta.about_size.pop-up-button-remodal {
  font-size: 0.65rem;
  display: inline-block;
}
@media screen and (max-width: 339px) {
  .custom_option__container .cta.about_size.pop-up-button-remodal {
    margin-top: 5px;
  }
}

header #quadmenu.quadmenu-custom_theme_1 .quadmenu-navbar-nav > li.quadmenu-item > a {
  font-size: 13px;
  line-height: 52px;
  padding: 0 16px;
}

.my_account_coupon {
  border: 1px solid;
  border-left-width: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}

.account_rank {
  display: flex;
  flex-direction: column;
}
.account_rank .rank_you {
  margin-bottom: 0.5rem;
  font-family: var(--fontBody);
  font-size: 0.75rem;
}
.account_rank.stl_gold .rank_name {
  background: linear-gradient(top, rgb(213, 173, 109) 0%, rgb(213, 173, 109) 26%, rgb(226, 186, 120) 35%, rgb(163, 126, 67) 45%, rgb(145, 112, 59) 61%, rgb(213, 173, 109) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.account_rank.stl_silver .rank_name {
  color: #858585;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) or (-webkit-background-clip: text) {
  .account_rank.stl_silver .rank_name {
    color: transparent;
    background-image: linear-gradient(to right, transparent 0%, transparent 45%, white 50%, transparent 55%, transparent 100%), linear-gradient(270deg, #8c8c8c 1.3%, #999 15%, #868686 29.6%, #828282 29.6%, #7d7d7d 31.8%, #797979 31.8%, #6a6a6a 38.9%, #d3d3d3);
    background-position: 110% 0%, 0 0;
    background-size: 200% auto, auto;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.account__content .notion_p {
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
.account__content .notion_p a {
  position: relative;
  display: flex;
  align-items: center;
}
.account__content .notion_p a:before {
  content: "\ea22";
  font-family: var(--iconOec);
  font-style: normal;
  font-weight: normal;
  font-size: 110%;
  margin-right: 6px;
}
.account__content .notion_p a:hover {
  opacity: 0.8;
}

.rank_table th,
.rank_table td {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.65;
}
.rank_table th small,
.rank_table td small {
  display: inline-block;
}
.rank_table th {
  letter-spacing: 0.05em;
  font-size: 0.75rem;
}
.rank_table th.rank_name {
  width: 120px;
}
.rank_table th.rank_benefit {
  font-size: 0.75rem;
}
.rank_table th.rank_logic {
  font-size: 0.75rem;
  text-align: center;
  width: 320px;
}
.rank_table td:not(.rank_name) {
  padding: 1rem;
}
.rank_table .rank_name {
  text-align: center;
}
.rank_table td.rank_name {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-family: var(--fontSecondary);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 105%;
}
.rank_table td.rank_name:before {
  content: none !important;
}
.rank_table td.rank_logic {
  text-align: center;
}
.rank_table ul.list {
  margin: 0;
}
.rank_table ul.list li {
  line-height: 1.35;
}
.rank_table ul.list li + li {
  margin-top: 0.35rem;
}
.rank_table ul.list + * {
  margin-top: 0.75rem;
}
@media screen and (max-width: 767px) {
  .rank_table .rank_tr {
    border: 1px solid #e8e8e8;
    display: flex;
    flex-wrap: wrap;
  }
  .rank_table .rank_tr td {
    border: none;
  }
  .rank_table .rank_tr td.rank_name {
    width: 82px;
  }
  .rank_table .rank_tr td.rank_benefit {
    padding-top: 16px;
    width: 100%;
    order: 2;
  }
  .rank_table .rank_tr td.rank_logic {
    width: calc(50% - 41px);
    order: 1;
  }
  .rank_table .rank_tr td.rank_name, .rank_table .rank_tr td.rank_logic {
    border-bottom: 1px solid #e8e8e8;
  }
  .rank_table .rank_tr td.rank_name {
    padding: 1rem 0;
  }
  .rank_table .rank_tr td.rank_logic {
    padding: 12px 6px;
  }
  .rank_table .rank_tr + .rank_tr {
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 479px) {
  .rank_table .rank_tr td.rank_name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rank_table .rank_tr td.rank_name .name {
    font-size: 1.25rem;
  }
  .rank_table .rank_tr td.rank_name .rank_icon {
    width: 42px;
    margin: 0;
  }
  .rank_table .rank_tr td.rank_name .rank_icon + .name {
    padding-left: 1rem;
  }
  .rank_table .rank_tr td.rank_logic {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .rank_table .rank_tr.rank_tr_royal td.rank_logic:last-child {
    display: none !important;
  }
}

.svg-wrap {
  width: 100%;
  display: inline-block;
  position: relative;
}
.svg-wrap.eq_icon {
  padding-top: 100%;
  display: block;
}
.svg-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .table_responsive {
    border: 0;
  }
  .table_responsive thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .table_responsive td {
    display: block;
  }
  .table_responsive td:before {
    content: attr(data-label);
  }
}

.remodal.remodal_basic {
  padding: 0;
}
@media screen and (max-width: 767px) {
  .remodal.remodal_basic {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.remodal.remodal_basic .remodal_head {
  padding: 1.5rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .remodal.remodal_basic .remodal_head {
    padding: 1.25rem;
    box-shadow: var(--shadow, 2px 6px 6px 0px rgba(0, 0, 0, 0.05));
  }
}
.remodal.remodal_basic .remodal_head h3 {
  font-weight: 400;
  font-size: 1.05rem;
  letter-spacing: 0.08em;
  line-height: 1.45;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
}
.remodal.remodal_basic .remodal_head .remodal-close {
  right: 1rem;
  top: 1rem;
}
@media screen and (min-width: 768px) {
  .remodal.remodal_basic .remodal_head .remodal-close:before {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .remodal.remodal_basic .remodal_body {
    padding: 1rem 0;
    flex: 1;
    overflow-y: auto;
  }
}
.remodal.remodal_basic table {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .remodal.remodal_basic table {
    max-width: 340px;
  }
}

.cart_totals form.checkout_coupon.woocommerce-form-coupon p {
  font-size: 0.85rem;
  text-align: left;
}

#secondary .notice_block {
  order: 3;
  border: none;
  padding: 0;
}
#secondary .notice_block .coupon_left {
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.bg_wht {
  background: #fff;
}

.toggle_show_block {
  border-bottom: 1px solid #efefef;
}
.toggle_show_block__title {
  font-size: 0.85rem;
  border: 1px solid #efefef;
  padding: 0.65rem 1rem;
  border-bottom: none;
  cursor: pointer;
  position: relative;
}
.toggle_show_block__title > span:first-child {
  flex: 1;
  padding-right: 1.25rem;
  display: block;
}
.toggle_show_block__title .acc-icon {
  right: 1rem;
}
.toggle_show_block__content {
  border-bottom: none;
  box-shadow: none;
  display: none;
}

.cta.about_size {
  font-weight: 400;
}/*# sourceMappingURL=elements.css.map */